.mo{
    width: 861px;
    height: 353px;
    padding-top: 40px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}
.mo button{
    border: none;
    background-color: #1E3673;
    width: 178px;
    height: 50px;
    border-radius: 20px;
}
.mod{
    background-color:#2F98C2 ;
    height: 106px;
    color: white;
    font-family: var(--roboto);
    font-weight: lighter;
    padding-top: 30px;
}
.moda{
    padding-top: 25px;
}
.moda p{
    padding-top: 15px;
    color: #1E3673;
    opacity: 90%;
}
.h{
text-align: center;
}
